WpfClient/WpfClient/Connected Services/WcfService/LineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60134/LineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebSocket.Services.Contracts" />
  <xs:import schemaLocation="http://localhost:60134/LineService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SendLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebSocket.Services.Contracts" minOccurs="0" name="line" nillable="true" type="q1:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeForLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeForLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeForLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeForLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLinesIdResult" nillable="true" type="q2:ArrayOfshort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="line" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebSocket.Services.Contracts" minOccurs="0" name="GetSelectedLineResult" nillable="true" type="q3:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLineSend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebSocket.Services.Contracts" minOccurs="0" name="line" nillable="true" type="q4:Line" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>